<!DOCTYPE html>
<html>
<body>
    <h1 align = center>Home</h1>

    <br/><br/>
    <h3 align = center>Fulfil a need?</h3> 
    {{ for res in results_dict }}
    <table border=1 align = center>
        <thead>
            <th>Item</th>
            <th>Borrower</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
        </thead>
        <tr>
            <td> {{res.0)) </td>
            <td>  </td>
            <td>  </td>
            <td>  </td> 
            <td>  </td> 
        </tr>
    </table>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
}

.button {background-color: #f44336;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.button:hover {
  background-color: DarkRed;
}
</style>
</head>
<body align = center>

</br></br><br/><br/>
<button class="btn"><i class="fa fa-home"></i> Home</button>
<a href = "new_request"><button class="btn"><i class="fa fa-plus"></i> Request </button> </a>
<button class="btn"><i class="fa fa-store-alt"></i> Vouchers Store </button>
<a href = "profile"><button class="btn"><i class="fa fa-user"></i> Profile </button> </a>
<a href = "/"> <button class="button" ><i class="fa fa-sign-out"></i> Logout </button> </a>

</body>
</html>
