<!DOCTYPE html>
<html>
<body>
    <h1 align = center>Home</h1>

    <br/><br/>
    <h3 align = center>Fulfil a need?</h3> 

  
        <p style="color:blue" align=center>All Requests</p>
        {% if requests|length %}
            <table border=1 align=center>
                <thead>
                    <th>Item</th>
                    <th>Category</th>
                    <th>Date Needed</th>
                    <th>Time Needed</th>
                    <th>Return Date</th>
                    <th>Return Time</th>
                    <th>Location</th>
                </thead>
                 {% for r in requests %}
                  <tr>
                    <td> {{ r.1 }} </td>
                    <td> {{ r.3 }} </td>
                    <td> {{ r.4 }} </td>
                    <td> {{ r.5 }} </td>
                    <td> {{ r.6 }} </td>
                    <td> {{ r.7 }} </td>
                    <td> {{ r.8 }} </td>
                    <td>
         
       <td><input type="button" value="Accept Request" onclick="accept/{{r}}"></td>
                      
                <td> <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{r.0}}"/>
                <button onclick="return confirm('Are you sure you want accept {{r.1}} on {{r.4}} at {{r.8}} ?');" type="submit" name="action" value="accept_request">
                    Accept Request</button> 
                 </form></td>
                </tr>
                {% endfor %}
          </table>
          
        {% else %}
            There are no requests yet! :)
  {% endif %}
  <br/><br/>  
    
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
}

.button {background-color: #f44336;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.button:hover {
  background-color: DarkRed;
}
</style>
</head>
<body align = center>

</br></br><br/><br/>
<button class="btn"><i class="fa fa-home"></i> Home</button>
<a href = "new_request"><button class="btn"><i class="fa fa-plus"></i> Request </button> </a>
<a href ="voucher"><button class="btn"><i class="fa fa-gift-card"></i> Vouchers Store </button></a>
<a href = "profile"><button class="btn"><i class="fa fa-user"></i> Profile </button> </a>
<a href = "/"> <button class="button" ><i class="fa fa-sign-out"></i> Logout </button> </a>

</body>
</html>
