{% load static %}
<html>
<body>
    
    <h1 align = center><img src="{% static 'app/images/NUShare.png' %}" width="75%" height = "50%"  alt="NUShare Logo"/></h1>
    <h2>Login</h2>
    

    
    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        School Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="school_email" maxlength="64" class="textinput textInput" required="" id="school_email"> </div> </div> <div id="name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" class="textinput" required="" id="password"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">
       
        <br>
        <a href="home"><button type="submit" value="home">Login</button></a>

    </form>
    
    
    <p>Register here if you do not have an account</p>
        <a href="register"><button type = "button">Register</button></a>
      
</body>
</html>
