<html>
<body>
    <h2>Request</h2>
    <a href="home">Back to Home</a>
    </br>
    
	<p style="color:red">{{ status|safe }}</p>
	
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
				
		<div id="div_id_item" class="control-group"> <label for="id_item" class="control-label requiredField">
        Item:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="item" maxlength="64" class="textinput textInput" required="" id="name"> </div> </div> 
        
                <div id="div_id_category" class="control-group"> <label for="category" class="control-label requiredField">
        Category:<span class="asteriskField">*</span> </label> </br>
        <select name="category" id="category"> 
    <option value="Stationery">Stationery</option>
    <option value="Electronics">Electronics</option>
    <option value="Sports Equipment">Sports Equipment</option>
    <option value="Clothes">Clothes</option>
    <option value="Lab Equipment">Lab Equipment</option>
    <option value="Textbooks">Textbooks</option>
    <option value="Lifestyle">Lifestyle</option>
    <option value="Others">Others</option>
    </select><div class="controls">  </div> </div> 
        
        <div id="div_id_date_needed" class="control-group"> <label for="id_date_needed" class="control-label requiredField">
        Borrow Date:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="date" name="date_needed" class="textinput" required="" id="date"> </div> </div>
        
        <div id="div_id_time_needed" class="control-group"> <label for="id_time_needed" class="control-label requiredField">
        Borrow Time:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="time" name="time_needed" class="textinput" required="" id="date"> </div> </div> 
        
        <div id="div_id_returrn_date" class="control-group"> <label for="id_return_date" class="control-label requiredField">
        Return Date:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="date" name="return_date" class="textinput" required="" id="date"> </div> </div> 
        
        <div id="div_id_return_time" class="control-group"> <label for="id_return_time" class="control-label requiredField">
        Return Time:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="time" name="return_time" class="textinput" required="" id="date"> </div> </div> 
        
        <div id="div_id_meetup_location" class="control-group"> <label for="id_meetup_location" class="control-label requiredField">
        Meetup Location: <span class="asteriskField">*</span> </label> </br>
          <select name="meetup_location" id="id_meetup_location"> 
    <option value="AS 5">AS 5</option>
    <option value="BIZ 2">BIZ 2</option>
    <option value="Botanic Garden MRT">Botanic Garden MRT</option>
    <option value="Central Library">Central Library</option>
    <option value="College Green">College Green</option>
    <option value="COM 2">COM 2</option>
    <option value="EA">EA</option>
    <option value="Eusoff Hall">Eusoff Hall</option>
    <option value="Information Technology">Information Technology</option>
    <option value="Kent Ridge Bus Terminal">Kent Ridge Bus Terminal</option>
    <option value="Kent Ridge Hall">Kent Ridge Hall</option>
    <option value="Kent Ridge MRT">Kent Ridge MRT</option>
    <option value="Kent Vale"> Kent Vale</option>
    <option value="KE7 Hall">KE7 Hall</option>
    <option value="LT13">LT13</option>
    <option value="LT27">LT27</option>
    <option value="Museum">Museum</option>
    <option value="Oei Tiong Ham Building">Oei Tiong Ham Building</option>
    <option value="Opp Kent Ridge MRT">Opp Kent Ridge MRT</option>
    <option value="Opp SDE 3">Opp SDE 3</option>
    <option value="Opp TCOMS">Opp TCOMS</option>
    <option value="Opp University Hall">Opp University Hall</option>
    <option value="Opp University Health Centre">Opp University Health Centre</option>
    <option value="Opp Yusof Ishak House">Opp Yusof Ishak House</option>
    <option value="Prince George's Park">Prince George's Park</option>
    <option value="Prince George's Park Residences">Prince George's Park Residences</option>
    <option value="Raffles Hall">Raffles Hall</option>
    <option value="S17">S17</option>
    <option value="SDE 3">SDE 3</option>
    <option value="Sheares Hall">Sheares Hall</option>
    <option value="TCOMS">TCOMS</option>
    <option value="Temasek Hall">Temasek Hall</option>
    <option value="The Japanese Primary School">The Japanese Primary School</option>
    <option value="University Hall">University Hall</option>
    <option value="University Health Centre">university Health Centre</option>
    <option value="University Town">University Town</option>
    <option value="Ventus">Ventus</option>
    <option value="Yusof Ishak House">Yusof Ishak House</option>
	
  </select><div class="controls"> </div> </div> 
        <br>
        <button type="submit" value="new_request">Request</button>
    </form>
</body>
</html>
