
<html>
<body>
    <h2>Request</h2>
    <a href="home">Back to Home</a>
    </br>
    
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
				
		<div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        Item:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="item" maxlength="64" class="textinput textInput" required="" id="name"> </div> </div> <div id="name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Category:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="category" maxlength="64" class="textInput" required="" id="id_email"> </div> </div> <div id="div_id_dob" class="control-group"> <label for="id_dob" class="control-label requiredField">
        Borrow Date:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="date" name="borrow_date" class="textinput" required="" id="date"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">
        Borrow Time:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="time" name="borrow_time" class="textinput" required="" id="date"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">
        Return Date:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="date" name="return_date" class="textinput" required="" id="date"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">
        Return Time:<span class="asteriskField">*</span> </label> <div class="controls"> <input type="time" name="return_time" class="textinput" required="" id="date"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">
        Meetup Location <span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="meetup_location" class="textinput" required="" id="date"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">
        <br>
        <button type="submit" value="new_request">Request</button>
    </form>
</body>
</html>
