<!DOCTYPE html>
<html>
<body>
    <h1 align = center>Profile</h1>
   <br/><br/>
    <table style='text-align:left'>
 {% for f in full_profile %}
        <tr>
            <th>Name:</th>
            <td>:</td>
            <td> {{ f.0 }} </td>
        </tr>
        <tr>
            <th>Demerit Points</th>
            <td>:</td>
            <td> {{ f.3 }} </td>
        </tr>
        <tr>
            <th>Voucher Points</th>
            <td>:</td>
            <td> {{ f.4 }} </td>
       </tr>
  {% endfor %}
  </table>
    <h3 align=center>Your Requests<h3>
    <table border=1 align=center>
        <thead>
            <th>Item</th>
            <th>Category</th>
            <th>Date Needed</th>
            <th>Time Needed</th>
            <th>Return Date</th>
            <th>Return Time</th>
            <th>Location</th>
        </thead>
         {% for r in requests %}
          <tr>
            <td> {{ r.1 }} </td>
            <td> {{ r.3 }} </td>
            <td> {{ r.4 }} </td>
            <td> {{ r.5 }} </td>
            <td> {{ r.6 }} </td>
            <td> {{ r.7 }} </td>
            <td> {{ r.8 }} </td>
        </tr>
        {% endfor %}
        if ($('table tr').length == 0) {
         <h4 align=center>You have no requests!<h3>
}
    </table>
    <br/><br/>
</body>
</html>
