<html>
<body>
    <h2>Register</h2>
    <a href="/">Back to Login</a>
    </br>
    
    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="name" maxlength="64" class="textinput textInput" required="" id="name"> </div> </div> <div id="name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        School Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> </div> <div id="div_id_dob" class="control-group"> <label for="id_dob" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" class="textinput" required="" id="password"> </div> </div> <div id="div_id_since" class="control-group"> <label for="id_since" class="control-label requiredField">
       
        <br>
        <button type="submit" value="create_account">Register</button>
    </form>
</body>
</html>
